<script>
window.BLSHafnia = {
    publicPath: '{{ assetsPath }}',
    svgResource: {
        path:    '{{ 'sprite.svg' | asset_url }}',
        id:      'BLSHafniaSvg',
        version: 0.31111
    },
    fonts: {
        custom: {
          families: 'Graphik:n1,i1,n2,i2,n3,i3,n4,i4,n5,i5,n6,i6,n7,i7',
          urls: ['{{ 'fonts.css' | asset_url }}']
        }
    },
    countryCode: '{{ settings.localization_country_code }}'
};

window.theme = {
  	routes: {
      	currentUrl: {{ request.path | json }},
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
    },
    strings: {
        addToCart: "{{ 'product.form.add_to_cart' | t }}",
        soldOut: "{{ 'product.form.sold_out' | t }}",
        unavailable: "{{ 'product.form.unavailable' | t }}",
        addingToCart: "{{ 'product.form.adding_to_cart' | t }}",
        cartItemRemove: "{{ 'cart.general.remove' | t }}",
        cartAddSuccess: "{{ 'products.product.success_to_cart' | t }}",
        cartItem: "{{ 'cart.general.item' | t }}",
        cartItems: "{{ 'cart.general.items' | t }}",
        shirt: "{{ 'cart.mini_cart.shirt' | t }}",
        shirts: "{{ 'cart.mini_cart.shirts' | t }}",
        free: "{{ 'cart.general.free' | t }}",
        cartShipping: "{{ 'cart.general.shipping_at_checkout' | t }}",
        cart: {
          notifications: {
            title: "{{ 'cart.notifications.title' | t }}",
            continue: "{{ 'cart.notifications.continue_shopping' | t }}",
            goToCart: "{{ 'cart.notifications.go_to_cart' | t }}",
            alsoBought: "{{ 'cart.notifications.also_bought' | t }}"
          }
        },
        modal: {
          sizeguide: {
            no_sizeguide: "{{ 'modal.sizeguide.no_sizeguide' | t }}"
          }
        }
    },
    moneyFormat: "{{ shop.money_format }}",
    currency: "{{ shop.currency }}"
}

window.addEventListener('DOMContentLoaded', function() {
    var endpoint = '//freegeoip.app/json/';

    var xhr = new XMLHttpRequest();
    xhr.onreadystatechange = function() {
        if (this.readyState == 4 && this.status == 200) {
            window.BLSHafnia.geolocation = JSON.parse(this.responseText);
        } else {
            window.BLSHafnia.geolocation = false;
        }
    };
    xhr.open('GET', endpoint, true);
    xhr.send();
});
</script>
