<ul class="product__colors">
    {% for tag in p.tags %}
        {% if tag contains 'linked_' %}
            {% assign t = tag | remove: 'linked_' | handleize %}
            {% break %}
        {% else %}
            {% continue %}
        {% endif %}
    {% endfor %}

    {% for pr in collections[t].products %}
        {% assign c = '' %}
        {% for tag in pr.tags %}
            {% if tag contains 'color_' %}
                {% assign color = tag | remove: 'color_' | split: '-' %}
                {% assign c = color[0] %}
                {% break %}
            {% else %}
                {% continue %}
            {% endif %}
        {% endfor %}

        <li class="product__colors__item js-color{% if pr.handle == p.handle %} product__colors__item--active{% endif %}" data-product-id="{{ pr.id }}">
            <span class="product__colors__item__color" style="background-color:{{ color | last }};"></span>
            <span class="product__colors__item__hover">{{ color | first }}</span>
            {%- comment -%}
                {% assign imageOverwrite = t | append: '-' | append: c | handleize | append: '.png' %}
                {%
                    include 'image-files',
                    img: imageOverwrite,
                    sizing: '200',
                    class: 'product__colors__item__img'
                %}
            {%- endcomment -%}
            <a href="{{ pr.url }}" class="product__colors__item__link"></a>
        </li>
    {% endfor %}
</ul>