{%- capture section_settings -%}
{
  "type": {{ settings.cart_type | json }},
  "itemCount": {{ cart.item_count }},
  "drawer": true,
  "hasShippingEstimator": false
}
{%- endcapture -%}

<div id="cart" class="collapse">
  <div id="cart-content-wrap">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h3 class="h2 mb-0">{{ 'cart.modal.title' | t }}</h3>
      <a class="modal-close btnCartToggle" href="javascript:;" data-target="#cart">&#9587;</a>
    </div>

    <div id="cart-content">
      {% if cart.item_count == 0 %}
      <p class="text-muted">{{ 'cart.empty.text' | t }}</p>
      {% else %}
      {% render 'cart-template', for_drawer: true %}
      {% endif %}
    </div>
  </div>
</div>

<div class="collapse-backdrop"></div>
