{%- if settings.localization_links != blank -%}
<script>
window.BLSHafnia.websites = [];
</script>
<div id="modal_country" class="modal fade" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-md w-500p wmax-100">
    <div class="modal-content">
      <div class="modal-body p-4 p-md-6 p-lg-7">
        <h2 class="mb-4 mb-lg-5 mt-n2 mx-md-n4 text-center">{{ 'modal.localization.title' | t }}</h2>
        <h2 class="mb-4 mb-lg-5 mt-n2 mx-md-n4 text-center d-none">{{ 'modal.localization.title_redirect' | t }}</h2>
        {% assign localization_links = settings.localization_links | newline_to_br | split: '<br />' %}
        {% for localization_link_row in localization_links %}
        {% assign localization_link_array = localization_link_row | split: '|' %}
        <script>window.BLSHafnia.websites.push({{ localization_link_array | json }});</script>
        {% assign localization_link_title = localization_link_array[0] %}
        {% assign localization_link_url   = localization_link_array[2] %}
        <a 
           class="btn btn-outline-secondary btn-block{% if forloop.first != true %} mt-2{% endif %}"
           href="{{ localization_link_url }}"
           data-country="{{ localization_link_array[1] }}"
        >
          <span class="tb__icon tb__icon--solid ml-n2 mr-2">
            <svg width="24" height="24"><use xlink:href="#flags--{{ localization_link_array[1] }}"></use></svg>
          </span>
          <span class="flex-fill">
            <span
              class="btn__prefix"
              data-continue-text="{{ 'modal.localization.continue_prefix' | t }}"
              data-redirect-text="{{ 'modal.localization.redirect_prefix' | t }}"
            ></span>
            {{ localization_link_title }}
            <span class="btn__suffix"></span>
          </span>
        </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%- endif -%}