{%- if paginate.pages > 1 -%}
<nav class="mt-4 mt-lg-7 paginationBlock">
  <div class="text-center">
    <a class="btn btn-outline-secondary px-4 paginationLoadButton" href="javascript:;">{{ 'general.pagination.load_more' | t }}</a>
  </div>
  <ul class="pagination justify-content-center d-none">
    {%- if paginate.previous -%}
    <li class="page-item">
      <a class="page-link " rel="prev" title="{{ 'general.pagination.previous_page' | t }}" href="{{ paginate.previous.url }}{{ hash }}">
        Arrow left
      </a>
    </li>
    {%- endif -%}

    {%- for part in paginate.parts -%}
    {%- if part.is_link -%}
    <li class="page-item">
      <a class="page-link paginationPrevButton" href="{{ part.url | remove: 'view=ajax' }}{{ hash }}" title="{{ 'general.pagination.go_to_page' | t: page: part.title }}">{{ part.title }}</a>
    </li>
    {%- else -%}
    <li class="page-item{% if part.title == paginate.current_page %} active{% endif %}">
      <span class="page-link">{{ part.title }}</span>
    </li>
    {%- endif -%}
    {%- endfor -%}

    {%- if paginate.next -%}
    <li class="page-item">
      <a class="page-link paginationNextButton" rel="next" title="{{ 'general.pagination.next_page' | t }}" href="{{ paginate.next.url }}{{ hash }}">
        Arrow right
      </a>
    </li>
    {%- endif -%}
  </ul>
</nav>
{%- endif -%}