{%- assign variant = product.selected_or_first_available_variant -%}
{%- assign data-object = false -%}
{% if data != blank %}
{%- assign data-object = true -%}
{% endif %}

<div class="product">
  <a href="{{ product.url }}" class="product-image">
    {% if settings.product-listing__hover-preview != blank and product.images[1] != blank %}
    <div class="tb__hover">
      <div class="tb__image tb__hover__front tb__hover__fade-out">
        <figure style="padding-top: calc({{ settings.product-listing__image-height }}/{{ settings.product-listing__image-width }} * 100%);">
          <img class="lazyload slide-from-bottom" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ product.images[0] | img_url: '600x600' }}" data-expand="-50" alt="{{ product.featured_media.alt | escape }}" />
        </figure>
      </div>
      <div class="tb__hover__back tb__hover__fade-in w-100">
        <div class="tb__image">
          <figure style="padding-top: calc({{ settings.product-listing__image-height }}/{{ settings.product-listing__image-width }} * 100%);">
            <img class="lazyload" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ product.images[1] | img_url: '600x600' }}" alt="{{ product.featured_media.alt | escape }}" />
          </figure>
        </div>
      </div>
    </div>
    {% else %}
    <div class="tb__image">
      <figure style="padding-top: calc({{ settings.product-listing__image-height }}/{{ settings.product-listing__image-width }} * 100%);">
        <img class="lazyload slide-from-bottom" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ product.images[0] | img_url: '600x600' }}" data-expand="-50" alt="{{ product.featured_media.alt | escape }}" />
      </figure>
    </div>
    {% endif %}
  </a>
  <p class="product-name"><a href="{{ product.url | within: collection }}">{{ product.title }}</a></p>
  <div class="product-price">
    {% if variant.compare_at_price > variant.price %}
    <p class="price price--new"{% if data-object %} data-price{% endif %}>{{ variant.price | money }}</p>
    <p class="price price--old"{% if data-object %} data-compare-price{% endif %}>{{ variant.compare_at_price | money }}</p>
    {% else %}
    <p class="price"{% if data-object %} data-price{% endif %}>{{ variant.price | money }}</p>
    {% endif %}
  </div>
</div>
