{% layout 'theme.account' %}

<h1 class="mb-4">{{ 'customer.menu.orders' | t }}</h1>

{%- if customer.orders.size == 0 -%}
<p class="bg-gray text-center">{{ 'customer.account.no_orders_content' | t }}</p>
{%- else -%}
{%- paginate customer.orders by 25 -%}
<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th class="border-top-0 pt-0 pl-0">{{ 'customer.orders.order_number' | t }}</th>
        <th class="border-top-0 pt-0">{{ 'customer.orders.date' | t }}</th>
        <th class="border-top-0 pt-0">{{ 'customer.orders.payment_status' | t }}</th>
        <th class="border-top-0 pt-0">{{ 'customer.orders.fulfillment_status' | t }}</th>
        <th class="border-top-0 pt-0 pr-0 text-right">{{ 'customer.orders.total' | t }}</th>
      </tr>
    </thead>
    <tbody>
      {%- for order in customer.orders -%}
      <tr>
        <td class="pl-0 text-block"><a href="{{ order.order_status_url }}" target="_blank">{{ order.name }}</a></td>
        <td>{{ order.created_at | date: format: 'month_day_year' }}</td>
        <td>{{ order.financial_status_label }}</td>
        <td>{{ order.fulfillment_status_label }}</td>
        <td class="pr-0 font-weight-600 text-right">{{ order.total_price | money_without_trailing_zeros }}</td>
      </tr>
      {%- endfor -%}
    </tbody>
  </table>
</div>
{%- render 'pagination', paginate: paginate -%}
{%- endpaginate -%}
{%- endif -%}