{% layout 'theme.account' %}

{%- if customer.addresses_count == 0 -%}

{%- comment -%}
-------------------------------
NO ADDRESS ADDED YET
-------------------------------
{%- endcomment -%}

<h1>{{ 'customer.addresses.title_add_address' | t }}</h1>

{% form 'customer_address', customer.new_address %}
  <input type="hidden" name="address[default]" value="1">
  <div class="row row-gut-2">      	
    <div class="col-md-6{% if request.locale.iso_code == 'ja' %} order-1{% endif %}">
      <label>{{ 'customer.addresses.input_first_name' | t }}</label>
      <input class="form-control" type="text" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.input_first_name' | t }}" aria-label="{{ 'customer.addresses.input_first_name' | t }}" autofocus>
    </div>

    <div class="col-md-6">
      <label>{{ 'customer.addresses.input_last_name' | t }}</label>
      <input class="form-control" type="text" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.input_last_name' | t }}" aria-label="{{ 'customer.addresses.input_last_name' | t }}">
    </div>

    <div class="col-12">
      <label>{{ 'customer.addresses.input_address1' | t }}</label>
      <input class="form-control" type="text" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.input_address1' | t }}" aria-label="{{ 'customer.addresses.input_address1' | t }}">
    </div>

    <div class="col-12">
      <label>{{ 'customer.addresses.input_address2' | t }}</label>
      <input class="form-control" type="text" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.input_address2' | t }}" aria-label="{{ 'customer.addresses.input_address2' | t }}">
    </div>

    <div class="col-12">
      <label>{{ 'customer.addresses.input_company' | t }}</label>
      <input class="form-control" type="text" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.input_company' | t }}" aria-label="{{ 'customer.addresses.input_company' | t }}">
    </div>

    <div class="col-md-6">
      <label>{{ 'customer.addresses.input_country' | t }}</label>
      <select class="custom-select" name="address[country]" title="{{ 'customer.addresses.input_country' | t }}">{{ country_option_tags }}</select>
    </div>

    <div class="col-md-6">
      <label>{{ 'customer.addresses.input_province' | t }}</label>
      <input class="form-control" type="text" name="address[province]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.input_province' | t }}" aria-label="{{ 'customer.addresses.input_province' | t }}">
    </div>

    <div class="col-md-6">
      <label>{{ 'customer.addresses.input_city' | t }}</label>
      <input class="form-control" type="text" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.input_city' | t }}" aria-label="{{ 'customer.addresses.input_city' | t }}">
    </div>

    <div class="col-md-6">
      <label>{{ 'customer.addresses.input_zip' | t }}</label>
      <input class="form-control" type="text" name="address[zip]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.input_zip' | t }}" aria-label="{{ 'customer.addresses.input_zip' | t }}">
    </div>

    <div class="col-md-6">
      <label>{{ 'customer.addresses.input_email' | t }}</label>
      <input class="form-control" type="text" value="{{ customer.email }}" placeholder="{{ 'customer.addresses.input_email' | t }}" aria-label="{{ 'customer.addresses.input_phone' | t }}" disabled>
    </div>

    <div class="col-md-6">
      <label>{{ 'customer.addresses.input_phone' | t }}</label>
      <input class="form-control" type="text" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.input_phone' | t }}" aria-label="{{ 'customer.addresses.input_phone' | t }}">
    </div>

    <div class="col-md-6">
      <button class="btn btn-dark w-100 w-md-auto mt-2" type="submit">{{ 'customer.addresses.btn_save_address' | t }}</button>
    </div>
  </div>
{% endform %}

{%- else -%}

{%- comment -%}
-------------------------------
ADDRESS HAS BEEN ADDED
-------------------------------
{%- endcomment -%}

<div id="address_info" class="collapse fade show">
  <h1>{{ 'customer.addresses.title' | t }}</h1>

  {% for address in customer.addresses %}
  <div class="text-block mb-1{% if forloop.first == false %} mt-3{% endif %}">
    <strong class="d-block mb-1">{{ 'customer.addresses.address_label' | t }}</strong>
    {{ address.first_name }} {{ address.last_name }}<br>
    {%- if address_1 or address_2 -%}
    {{ address.address_1 }} {{ address.address_2 }}<br>
    {%- endif -%}
    {{ address.zip }} {{ address.city }}<br>
    {{ customer.email }}
  </div>
  <div class="text-block">
    <a href="javascript:;" data-toggle="collapse" data-target="#address_info.show, #address_form_{{ address.id }}:not(.show)">{{ 'customer.addresses.btn_edit_address' | t }}</a>
  </div>
  {% endfor %}
</div>

{%- for address in customer.addresses -%}
<div id="address_form_{{ address.id }}" class="collapse fade">
  <h1>{{ 'customer.addresses.title_add_address' | t }}</h1>
  {% form 'customer_address', address %}
    <input type="hidden" name="address[default]" value="1">
    <div class="row row-gut-2">      	
      <div class="col-md-6{% if request.locale.iso_code == 'ja' %} order-1{% endif %}">
        <label>{{ 'customer.addresses.input_first_name' | t }}</label>
        <input class="form-control" type="text" name="address[first_name]" value="{{ form.first_name }}" placeholder="{{ 'customer.addresses.input_first_name' | t }}" aria-label="{{ 'customer.addresses.input_first_name' | t }}" autofocus>
      </div>

      <div class="col-md-6">
        <label>{{ 'customer.addresses.input_last_name' | t }}</label>
        <input class="form-control" type="text" name="address[last_name]" value="{{ form.last_name }}" placeholder="{{ 'customer.addresses.input_last_name' | t }}" aria-label="{{ 'customer.addresses.input_last_name' | t }}">
      </div>

      <div class="col-12">
        <label>{{ 'customer.addresses.input_address1' | t }}</label>
        <input class="form-control" type="text" name="address[address1]" value="{{ form.address1 }}" placeholder="{{ 'customer.addresses.input_address1' | t }}" aria-label="{{ 'customer.addresses.input_address1' | t }}">
      </div>

      <div class="col-12">
        <label>{{ 'customer.addresses.input_address2' | t }}</label>
        <input class="form-control" type="text" name="address[address2]" value="{{ form.address2 }}" placeholder="{{ 'customer.addresses.input_address2' | t }}" aria-label="{{ 'customer.addresses.input_address2' | t }}">
      </div>

      <div class="col-12">
        <label>{{ 'customer.addresses.input_company' | t }}</label>
        <input class="form-control" type="text" name="address[company]" value="{{ form.company }}" placeholder="{{ 'customer.addresses.input_company' | t }}" aria-label="{{ 'customer.addresses.input_company' | t }}">
      </div>

      <div class="col-md-6">
        <label>{{ 'customer.addresses.input_country' | t }}</label>
        <select class="custom-select" name="address[country]" title="{{ 'customer.addresses.input_country' | t }}">{{ country_option_tags }}</select>
      </div>

      <div class="col-md-6">
        <label>{{ 'customer.addresses.input_province' | t }}</label>
        <input class="form-control" type="text" name="address[province]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.input_province' | t }}" aria-label="{{ 'customer.addresses.input_province' | t }}">
      </div>

      <div class="col-md-6">
        <label>{{ 'customer.addresses.input_city' | t }}</label>
        <input class="form-control" type="text" name="address[city]" value="{{ form.city }}" placeholder="{{ 'customer.addresses.input_city' | t }}" aria-label="{{ 'customer.addresses.input_city' | t }}">
      </div>

      <div class="col-md-6">
        <label>{{ 'customer.addresses.input_zip' | t }}</label>
        <input class="form-control" type="text" name="address[zip]" value="{{ form.zip }}" placeholder="{{ 'customer.addresses.input_zip' | t }}" aria-label="{{ 'customer.addresses.input_zip' | t }}">
      </div>

      <div class="col-md-6">
        <label>{{ 'customer.addresses.input_email' | t }}</label>
        <input class="form-control" type="text" value="{{ customer.email }}" placeholder="{{ 'customer.addresses.input_email' | t }}" aria-label="{{ 'customer.addresses.input_phone' | t }}" disabled>
      </div>

      <div class="col-md-6">
        <label>{{ 'customer.addresses.input_phone' | t }}</label>
        <input class="form-control" type="text" name="address[phone]" value="{{ form.phone }}" placeholder="{{ 'customer.addresses.input_phone' | t }}" aria-label="{{ 'customer.addresses.input_phone' | t }}">
      </div>

      <div class="col-md">
        <button class="btn btn-dark w-100 w-md-auto mt-2" type="submit">{{ 'customer.addresses.btn_save_address' | t }}</button>
      </div>

      <div class="col-md-auto align-items-center justify-content-center text-block text-center">
        <a href="javascript:;" data-toggle="collapse" data-target="#address_info:not(.show), #address_form_{{ address.id }}.show">{{ 'customer.addresses.btn_cancel' | t }}</a>
      </div>
  	</div>
  {% endform %}
</div>
{%- endfor -%}

{%- endif -%}

