<section class="hero hero--main d-flex mt-n4 mt-md-n5 mb-5 mb-md-0 overflow-x-hidden" data-section-id="login" data-section-type="login">
  <div class="container d-flex flex-column align-self-stretch flex-fill h-auto">
    <div class="row no-gutters flex-fill">
      <div class="col-md-7 col-lg-6 col-xl-4 align-items-center p-md-5 p-lg-7 px-md-5 pl-0">

      	{%- assign is_recover_active = false -%}

        {%- form 'recover_customer_password' -%}
          {%- if form.errors or form.posted_successfully? -%}
            {%- assign is_recover_active = true -%}
          {%- endif -%}
        {%- endform -%}

        {%- if is_recover_active -%}
          {%- assign login_default_visibility = 'display: none' -%}
        {%- else -%}
          {%- assign login_default_visibility = 'display: block' -%}
        {%- endif -%}

        <div class="position-relative">

          {%- comment -%}
          --------------------------------------------------------------------------------------------------------------------
          CUSTOMER LOGIN FORM
          --------------------------------------------------------------------------------------------------------------------
          {%- endcomment -%}

          <div id="customer_login" class="collapse{% if is_recover_active == false %} show{% endif %}">
            {%- form 'customer_login', name: 'login', class: 'mb-4 mb-lg-5 mb-xl-6' -%}
              {% comment %}<input type="hidden" name="checkout_url" value="/tools/recurring/login">{% endcomment %}
            
              <h1 class="text-uppercase text-center text-md-left">{{ 'customer.login.title' | t }}</h1>
              {%- if form.errors -%}
              <div class="alert alert-danger mb-3">
                <p>{{- form.errors.messages['form'] -}}</p>
              </div>
              {%- endif -%}
              <div class="form-group mb-3">
                <input class="form-control" type="email" name="customer[email]" required="required" placeholder="{{ 'customer.login.email' | t }}" aria-label="{{ 'customer.login.email' | t }}" autofocus>
              </div>
              <div class="form-group mb-4 mb-md-5">
                <input class="form-control" type="password" name="customer[password]" required="required" placeholder="{{ 'customer.login.password' | t }}" aria-label="{{ 'customer.login.password' | t }}">
              </div>
              <button class="btn btn-outline-secondary w-100 w-sm-125p" type="submit">{{ 'customer.login.submit' | t }}</button>
              <div class="text-block mt-2">
                <a class="small" href="javascript:;" data-toggle="collapse" data-target="#customer_login.show, #recover_customer_password:not(.show)">{{ 'customer.login.forgot' | t }}</a>
              </div>
            {%- endform -%}

            <div class="text-block">
              <p>{{ 'customer.login.register_label' | t }} <a href="{{ routes.account_register_url }}">{{ 'customer.login.register_link' | t }}</a></p>
              <p>{{ 'customer.login.subscription_label' | t }} <a href="/tools/recurring/get-subscription-access">{{ 'customer.login.subscription_link' | t }}</a></p>
            </div>
          </div>


          {%- comment -%}
          --------------------------------------------------------------------------------------------------------------------
          CUSTOMER RECOVERY FORM
          --------------------------------------------------------------------------------------------------------------------
          {%- endcomment -%}

          <div id="recover_customer_password" class="collapse{% if is_recover_active %} show{% endif %} position-absolute top-0 left-0 w-100">
            {%- form 'recover_customer_password', name: 'recover', class: 'mb-4 mb-lg-5 mb-xl-6' -%}
              <h1 class="text-uppercase text-center text-md-left">{{ 'customer.recover_password.title' | t }}</h1>
              <p class="mb-4">{{- 'customer.recover_password.description' | t -}}</p>

              {%- if form.errors -%}
              <div class="alert alert-danger mb-3">
                <p>{{- form.errors.messages['form'] -}}</p>
              </div>
              {%- endif -%}

              {%- if form.posted_successfully? -%}
              <p class="Form__Alert Alert Alert--success">
                {{- 'customer.recover_password.success' | t -}}
              </p>
              {%- endif -%}

              <div class="form-group mb-4 mb-md-5">
                <input class="form-control" type="email" name="email" required="required" placeholder="{{ 'customer.recover_password.email' | t }}" aria-label="{{ 'customer.recover_password.email' | t }}" autofocus>
              </div>

              <button class="btn btn-outline-secondary w-100 w-sm-125p" type="submit">{{ 'customer.recover_password.submit' | t }}</button>

              <div class="text-block mt-2">
                <a class="small" href="javascript:;" data-toggle="collapse" data-target="#customer_login:not(.show), #recover_customer_password.show">{{ 'customer.recover_password.login_link' | t }}</a>
              </div>
            {%- endform -%}
          </div>

        </div>

      </div>
      <div class="col-md offset-xl-1 d-none d-md-flex flex-column mr-nauto" aria-hidden="true">
        <div class="tb__banner flex-fill">
          <div class="tb__banner__overlay bg-secondary o-20 active"></div>
          <div class="tb__banner__image tb__image">
            <figure>
              <img class="lazyload h-100" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ 'login-bg.png' | asset_img_url: "1200x1080" }}" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
#customer_login,
#recover_customer_password
{
  display: block !important;
  height: auto !important;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s ease;
  pointer-events: none;
}
#customer_login.show,
#customer_login.show *,
#recover_customer_password.show,
#recover_customer_password.show *
{
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
</style>