<section class="hero hero--main d-flex mt-n4 mt-md-n5 mb-5 mb-md-0 overflow-x-hidden" data-section-id="login" data-section-type="login">
  <div class="container d-flex flex-column align-self-stretch flex-fill h-auto">
    <div class="row no-gutters flex-fill">
      <div class="col-md-7 col-lg-6 col-xl-4 align-items-center p-md-5 p-lg-7 px-md-5 pl-0">

        {%- form 'create_customer', name: 'create_customer', class: 'mb-4 mb-lg-5 mb-xl-6' -%}
          <h1 class="text-uppercase text-center text-md-left">{{ 'customer.register.title' | t }}</h1>

          {%- if form.errors -%}
          <div class="alert alert-danger">
            <ul class="list-arrow list-danger">
              {%- for field in form.errors -%}
              {%- if field == 'form' -%}
              <li>{{ form.errors.messages[field] }}</li>
              {%- else -%}
              <li><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
              {%- endif -%}
              {%- endfor -%}
            </ul>
          </div>
          {%- endif -%}

          {%- if request.locale.iso_code == 'ja' -%}
          <div class="form-group mb-3">
            <input type="text" class="form-control" name="customer[last_name]" aria-label="{{ 'customer.register.last_name' | t }}" placeholder="{{ 'customer.register.last_name' | t }}">
          </div>

          <div class="form-group mb-3">
            <input type="text" class="form-control" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus>
          </div>
          {%- else -%}
          <div class="form-group mb-3">
            <input type="text" class="form-control" name="customer[first_name]" aria-label="{{ 'customer.register.first_name' | t }}" placeholder="{{ 'customer.register.first_name' | t }}" autofocus>
          </div>

          <div class="form-group mb-3">
            <input type="text" class="form-control" name="customer[last_name]" aria-label="{{ 'customer.register.last_name' | t }}" placeholder="{{ 'customer.register.last_name' | t }}">
          </div>
          {%- endif -%}

          <div class="form-group mb-3">
            <input type="email" class="form-control" name="customer[email]" aria-label="{{ 'customer.register.email' | t }}" placeholder="{{ 'customer.register.email' | t }}" required="required">
          </div>

          <div class="form-group mb-4 mb-md-5">
            <input type="password" class="form-control" name="customer[password]" aria-label="{{ 'customer.register.password' | t }}" placeholder="{{ 'customer.register.password' | t }}" required="required">
          </div>

          <button class="btn btn-outline-secondary w-100 w-sm-125p px-2" type="submit">{{ 'customer.register.submit' | t }}</button>

          <div class="text-block mt-2">
            <a class="small" href="{{ routes.root_url }}">{{ 'customer.register.back_to_store' | t }}</a>
          </div>
        {%- endform -%}
        <div class="text-block">
          <p>{{ 'customer.register.login_label' | t }} <a href="{{ routes.account_login_url }}">{{ 'customer.register.login_link' | t }}</a></p>
        </div>

      </div>
      <div class="col-md offset-xl-1 d-none d-md-flex flex-column mr-nauto" aria-hidden="true">
        <div class="tb__banner flex-fill">
          <div class="tb__banner__overlay bg-secondary o-20 active"></div>
          <div class="tb__banner__image tb__image">
            <figure>
              <img class="lazyload h-100" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ 'login-bg.png' | asset_img_url: "1200x1080" }}" alt="">
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
