{%- assign s = section.settings -%}
<div class="container-fluid">
  <div class="carousel carousel--4">
    <div
      class="swiper-container show row row-gut-2"
      data-toggle="carousel"
      data-centered-slides="true"
      data-space-between="1"
      data-slides-per-view="2"
      data-breakpoints="{
        768: {
          slidesPerView: 3,
          spaceBetween: 20,
          centeredSlides: false
        },
        1200: {
          slidesPerView: 4,
          spaceBetween: 20,
          centeredSlides: false
        }
      }"
      data-pagination="false"
      data-nav-container-class="swiper-nav d-none d-md-flex"
    >
      {%- for block in section.blocks -%}
      <div class="col">
        {% assign product = all_products[block.settings.product] %}
        {%- render 'product-item', product: product -%}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Featured products",
  "tag": "section",
  "class": "featured-products overflow-x-hidden",
  "blocks": [
	{
      "type":"product",
      "name":"Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
	}
  ],
  "presets": [
    {
      "category": "Products",
      "name": "Featured products"
	}
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
