{%- assign s = section.settings -%}
<div class="container lazyload appear-opacity appear-slide-in-bottom" data-expand="-100">
  {%- for block in section.blocks -%}
  {%- assign article = articles[block.settings.article] -%}
  <div class="row row-gutx-lg-5 row-gutx-xl-2">
    <div class="col-10 col-sm-8 col-lg-5 col-xxl-4 offset-1 offset-sm-2 offset-lg-1 offset-xxl-2">
      <p class="small mb-0 d-lg-none">{{ article.created_at | date: "%d. %B %Y" }}</p>
      <h3 class="h1 d-lg-none"><a href="{{ article.url }}">{{ article.title }}</a></h3>
      <div class="d-lg-none mb-4 mb-lg-5">{{ article.excerpt }}</div>
      <a class="tb__image tb__image--1-1 w-100 my-2 my-sm-4 my-lg-0" href="{{ article.url }}">
        <figure class="tb__image__placeholder">
          <img
            class="lazyload no-animation"
            src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
            data-src="{{ article.image.src | img_url: '600x600', crop: 'center' }}"
            data-expand="-50"
            alt="{{ article.image.alt }}"
          />
        </figure>
      </a>
    </div>
    <div class="col-10 col-sm-8 col-lg-5 col-xl-4 col-xxl-3 offset-1 offset-sm-2 offset-lg-0 offset-xl-1 align-items-center">
      <p class="d-none d-lg-block small mb-0">{{ article.created_at | date: "%d. %B %Y" }}</p>
      <h3 class="h1 d-none d-lg-block"><a href="{{ article.url }}">{{ article.title }}</a></h3>
      <div class="d-none d-lg-block mb-4 mb-lg-5">{{ article.excerpt }}</div>
      <a class="btn btn-outline-secondary mx-auto ml-lg-0" href="{{ article.url }}">{{ 'blog.featured_articles.read_more' | t }}</a>
    </div>
  </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Featured articles",
  "tag": "section",
  "class": "featured-article mb-5 mb-md-7 mb-lg-9 mb-xl-10 py-xl-3",
  "blocks": [
	{
      "type": "article",
      "name": "Article",
      "settings": [
        {
          "type": "article",
          "id": "article",
          "label": "Article"
        }
      ]
	}
  ],
  "presets": [
    {
      "category": "Blog",
      "name": "Featured articles"
	}
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
