{%- assign s = section.settings -%}
<div class="container-fluid">
  <div class="row row-gutx-xxl-6 row-guty-4">
    <div class="col-sm-6 col-md-4 col-xl-3 order-1 order-md-0">
      <div class="footer-brand mb-3">
        <svg class="d-block" width="84" height="24" viewBox="0 0 133.1 25.48">
          <path d="M7.58.27c3.85,0,5.16,1.54,5.16,4.86V7.34c0,2.79-1.17,3.79-2.31,4.23,1.28.47,2.68,1.51,2.68,4.53v3.65c0,3.39-1.78,5.47-5.53,5.47H0V.27ZM4.39,10.33h2c1.48,0,2-.73,2-2.37V5.87c0-1.64-.54-2.25-2-2.25h-2Zm0,11.37H6.47c1.58,0,2.11-.64,2.11-2.42v-3c0-1.74-.6-2.45-2.18-2.45h-2Z" fill="#090708"/>
          <path d="M20.66,21.13h6.1v4.09H16.2V.27h4.46Z" fill="#090708"/>
          <path d="M28.75,20.47V16.9h4.36v2.74a1.83,1.83,0,0,0,1.61,2,1.79,1.79,0,0,0,.4,0c1.3,0,2-.8,2-2.4V19c0-1.65-.53-2.48-1.87-3.69L32,12.4C30,10.62,28.91,9,28.91,6.23v-.7C28.91,1.74,31,0,35,0h.7c3.65,0,5.77,1.57,5.77,4.82v2.9H37.17v-2c0-1.51-.6-2.11-1.82-2.11s-1.91.57-1.91,2v.23c0,1.48.5,2.18,1.85,3.42l3.22,3c2.21,2,3.22,3.52,3.22,6.5v.7c0,3.38-1.81,6.07-6.24,6.07h-.73C30.83,25.49,28.75,23.67,28.75,20.47Z" fill="#090708"/>
          <path d="M54.56.27V10.33h4.13V.27h4.46v25H58.69V14.74H54.56V25.22H50.1V.27Z" fill="#090708"/>
          <path d="M70.12,20.62l-.7,4.6H65.5L69.69.27h5.57l4.46,25h-4.3l-.73-4.6Zm4-3.72-.91-5.6c-.44-2.78-.67-4.53-.77-6-.13,1.44-.4,3.29-.8,6l-.87,5.6Z" fill="#090708"/>
          <path d="M93,.27V4.16h-6.6v6.17H92V14.7H86.43V25.22H82.07V.27Z" fill="#090708"/>
          <path d="M104.92,16.53c-.1-1.44-.17-2.85-.17-6.6V.27h3.85v25h-3.85l-4-11.77a48,48,0,0,1-1.61-5.37c.13,1.38.23,3.19.23,6.71V25.22H95.46V.27h4.36l3.55,11C104.15,13.68,104.55,15.09,104.92,16.53Z" fill="#090708"/>
          <path d="M111.91,25.22V.27h4.46v25Z" fill="#090708"/>
          <path d="M123.52,20.62l-.71,4.6h-3.93L123.08.27h5.55l4.47,25h-4.28l-.73-4.6Zm4-3.72-.91-5.6c-.44-2.78-.67-4.53-.77-6-.14,1.44-.4,3.29-.8,6l-.87,5.6Z" fill="#090708"/>
        </svg>
      </div>
      {% if s.col_1_text != blank %}
      <p class="mb-4">{{ s.col_1_text }}</p>
      {% endif %}
      {% if s.col_1_payment_icons != blank %}
      <div class="payment-icons">
        {{ s.col_1_payment_icons }}
      </div>
      {% endif %}
      <p class="mt-4 mt-md-5 small">Copyright © {{ 'now' | date: "%Y" }} BLS Hafnia.</p>
    </div>
    <div class="col-sm-6 col-md-2 col-xl-3">
      <h4 class="h5 mb-3">{{ s.col_2_title }}</h4>
      {%- if s.col_2_menu != blank -%}
      {%- assign col_2_menu = linklists[s.col_2_menu] -%}
      <ul class="nav nav-simple nav-space-3 flex-column">
        {%- for link in col_2_menu.links -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
    <div class="col-sm-6 col-md-2 col-xl-3">
      <h4 class="h5 mb-3">{{ s.col_3_title }}</h4>
      {%- if s.col_3_menu != blank -%}
      {%- assign col_3_menu = linklists[s.col_3_menu] -%}
      <ul class="nav nav-simple nav-space-3 flex-column">
        {%- for link in col_3_menu.links -%}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </div>
    <div class="col-sm-6 col-md-4 col-xl-3 order-2 order-md-0">
      <h4 class="h5 mb-3">{{ s.col_4_title }}</h4>
      {%- if s.col_4_code != blank -%}
      <div class="newsletter-widget">
        {{ s.col_4_code }}
      </div>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
   "name":"Footer",
   "class":"footer py-4 py-lg-9 bg-white",
   "tag":"footer",
   "settings":[
      {
         "type":"header",
         "content":"Column 1"
      },
      {
         "type":"textarea",
         "id":"col_1_text",
         "label":"Text"
      },
      {
         "type":"textarea",
         "id":"col_1_payment_icons",
         "label":"Payment Icons Code"
      },
      {
         "type":"header",
         "content":"Column 2"
      },
      {
         "type":"text",
         "id":"col_2_title",
         "label":"Heading",
         "default":"Info"
      },
      {
         "type":"link_list",
         "id":"col_2_menu",
         "label":"Menu"
      },
      {
         "type":"header",
         "content":"Column 3"
      },
      {
         "type":"text",
         "id":"col_3_title",
         "label":"Heading",
         "default":"Shop"
      },
      {
         "type":"link_list",
         "id":"col_3_menu",
         "label":"Menu"
      },
      {
         "type":"header",
         "content":"Column 4"
      },
      {
         "type":"text",
         "id":"col_4_title",
         "label":"Heading",
         "default":"Newsletter"
      },
      {
         "type":"textarea",
         "id":"col_4_code",
         "label":"Newsletter code"
      }
   ]
}
{% endschema %}

