{%- assign s = section.settings -%}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="navbar-brand mr-auto mr-lg-6 mr-xxl-10">
      <a href="{{ routes.root_url }}">
        <svg width="133" height="25" viewBox="0 0 133.1 25.48">
          <path d="M7.58.27c3.85,0,5.16,1.54,5.16,4.86V7.34c0,2.79-1.17,3.79-2.31,4.23,1.28.47,2.68,1.51,2.68,4.53v3.65c0,3.39-1.78,5.47-5.53,5.47H0V.27ZM4.39,10.33h2c1.48,0,2-.73,2-2.37V5.87c0-1.64-.54-2.25-2-2.25h-2Zm0,11.37H6.47c1.58,0,2.11-.64,2.11-2.42v-3c0-1.74-.6-2.45-2.18-2.45h-2Z" fill="#090708"/>
          <path d="M20.66,21.13h6.1v4.09H16.2V.27h4.46Z" fill="#090708"/>
          <path d="M28.75,20.47V16.9h4.36v2.74a1.83,1.83,0,0,0,1.61,2,1.79,1.79,0,0,0,.4,0c1.3,0,2-.8,2-2.4V19c0-1.65-.53-2.48-1.87-3.69L32,12.4C30,10.62,28.91,9,28.91,6.23v-.7C28.91,1.74,31,0,35,0h.7c3.65,0,5.77,1.57,5.77,4.82v2.9H37.17v-2c0-1.51-.6-2.11-1.82-2.11s-1.91.57-1.91,2v.23c0,1.48.5,2.18,1.85,3.42l3.22,3c2.21,2,3.22,3.52,3.22,6.5v.7c0,3.38-1.81,6.07-6.24,6.07h-.73C30.83,25.49,28.75,23.67,28.75,20.47Z" fill="#090708"/>
          <path d="M54.56.27V10.33h4.13V.27h4.46v25H58.69V14.74H54.56V25.22H50.1V.27Z" fill="#090708"/>
          <path d="M70.12,20.62l-.7,4.6H65.5L69.69.27h5.57l4.46,25h-4.3l-.73-4.6Zm4-3.72-.91-5.6c-.44-2.78-.67-4.53-.77-6-.13,1.44-.4,3.29-.8,6l-.87,5.6Z" fill="#090708"/>
          <path d="M93,.27V4.16h-6.6v6.17H92V14.7H86.43V25.22H82.07V.27Z" fill="#090708"/>
          <path d="M104.92,16.53c-.1-1.44-.17-2.85-.17-6.6V.27h3.85v25h-3.85l-4-11.77a48,48,0,0,1-1.61-5.37c.13,1.38.23,3.19.23,6.71V25.22H95.46V.27h4.36l3.55,11C104.15,13.68,104.55,15.09,104.92,16.53Z" fill="#090708"/>
          <path d="M111.91,25.22V.27h4.46v25Z" fill="#090708"/>
          <path d="M123.52,20.62l-.71,4.6h-3.93L123.08.27h5.55l4.47,25h-4.28l-.73-4.6Zm4-3.72-.91-5.6c-.44-2.78-.67-4.53-.77-6-.14,1.44-.4,3.29-.8,6l-.87,5.6Z" fill="#090708"/>
        </svg>
      </a>
    </div>
    <div id="headerCollapsable" class="navbar-collapse collapse order-lg-1 mt-lg-0" data-parent="#shopify-section-header">
      {%- if s.primary_nav != blank -%}
      {%- assign primary_nav = linklists[s.primary_nav] -%}
      <ul id="primary-nav" class="navbar-nav nav-space-lg-4 flex-fill" data-toggle="menu">
        {%- for link in primary_nav.links -%}
        {% if link.links != blank %}
        <li class="nav-item dropdown{% if link.url == '#megamenu' %} dropdown-megamenu{% endif %}">
          <a
            class="nav-link dropdown-toggle nocaret"
            href="
              {%- if link.url == '#megamenu' -%}
              javascript:;
              {%- else -%}
              {{ link.url }}
              {%- endif -%}"
            data-text="{{ link.title }}"
          >
            <span>{{ link.title }}</span>
          </a>
          {% if link.url == '#megamenu' %}
          <!-- Megamenu -->
          <div class="dropdown-menu p-0">
            <div class="row no-gutters">
              {% for sublink in link.links %}
              <div class="col-md px-lg-4 py-lg-5">
                {% if sublink.url == "#projects" %}
                <div class="nav-blog order-1">
                  {%- assign header_article = articles[s.featured_article] -%}
                  <p class="order-md-2 mt-md-3"><a href="{{ s.articles_url }}">{{ 'header.navigation.projects' | t }}</a></p>
                  <a class="tb__image order-md-1 w-100 mt-md-3" href="{{ header_article.url }}">
                    <figure class="tb__image__placeholder" style="padding-top: calc(186/435 * 100%);">
                      <img
                        class="lazyload no-animation"
                        src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                        data-src="{{ header_article.image.src | img_url: '435x186', crop: 'center' }}"
                        data-expand="-50"
                        alt="{{ header_article.image.alt }}"
                      />
                    </figure>
                  </a>
                  <p><a href="{{ header_article.url }}">{{ header_article.title }}</a></p>
                </div>
                {% else %}
                {% if sublink.links != blank %}
                <ul class="nav nav-simple nav-space-2 flex-column">
                  {%- for subsublink in sublink.links -%}
                  <li class="nav-item">
                    <a class="nav-link" href="{{ subsublink.url }}" data-text="{{ subsublink.title }}">
                      <span class="text-underline">{{ subsublink.title }}</span>
                    </a>
                  </li>
                  {%- endfor -%}
                </ul>
                {% endif %}
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
          {% else %}
          <!-- Regular dropdown -->
          <ul class="dropdown-menu">
            {%- for sublink in link.links -%}
            <li class="dropdown-item{% if sublink.links != blank %} float-lg-left w-lg-200p{% endif %}">
              <a href="{{ sublink.url }}" data-text="{{ sublink.title }}">
                <span class="text-underline">{{ sublink.title }}</span>
              </a>
              {% if sublink.links != blank %}
              <ul class="list-unstyled">
                {%- for subsublink in sublink.links -%}
                <li>
              	  <a href="{{ subsublink.url }}" data-text="{{ subsublink.title }}">
                    <span class="text-underline">{{ subsublink.title }}</span>
                  </a>
                </li>
                {%- endfor -%}
              </ul>
              {% endif %}
            </li>
            {%- endfor -%}
          </ul>
          {% endif %}
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{{ link.url }}">
            <span class="text-underline">{{ link.title }}</span>
          </a>
        </li>
        {% endif %}
        {%- endfor -%}
        <li class="nav-item align-items-center d-none d-lg-flex ml-auto">
          <form class="d-flex align-items-center" action="{{ routes.search_url }}">
            <input class="form-control form-control-underline form-control-sm" type="text" name="q" value="{{ search.terms | escape }}">
            <button class="btn btn-link btn-fixed" type="submit">
              <span class="tb__icon tb__icon--stroke-light">
                <svg width="24" height="30"><use xlink:href="#icon--search"></use></svg>
              </span>
            </button>
          </form>
        </li>
        {%- if settings.localization_links != blank -%}
        <li class="nav-item">
          <a class="nav-link order-2" href="javascript:;" data-toggle="modal" data-target="#modal_country">
            <span class="d-lg-none mr-auto">{{ 'header.navigation.location' | t }}</span>
            <span class="text-underline mx-xxl-4">{{ 'header.navigation.shipping' | t }}</span>
          </a>
        </li>
        {%- endif -%}
      </ul>
      {%- endif -%}
    </div>
    <button class="btn btn-sm btn-link btn-fixed d-lg-none ml-3 btnSearchToggle" data-target="#header-search">
      <span class="tb__icon tb__icon--stroke-light">
        <svg width="24" height="30"><use xlink:href="#icon--search"></use></svg>
      </span>
    </button>
    <button class="btn btn-sm btn-link btn-fixed btn-cart position-relative order-lg-1 ml-3 ml-md-4 btnCartToggle js-cart-drawer-toggle" href="javascript:;" data-target="#cart" style="margin-top: -1px">
      <span class="btn-cart-items js-cart-count">{{ cart.item_count }}</span>
      <span class="tb__icon tb__icon--stroke-light">
        <svg width="30" height="30"><use xlink:href="#icon--bag"></use></svg>
      </span>
    </button>
    <button class="btn btn-sm btn-link btn-fixed d-lg-none ml-3 btnNavToggle" data-target="#headerCollapsable">
      <span class="navbar-toggler inactive collapsed">
        <span class="navbar-toggler-icon"></span>
      </span>
    </button>
  </div>
</nav>
<div id="header-search" class="header-search">
  <form class="d-flex" action="{{ routes.search_url }}">
    <input class="form-control form-control-underline form-control-sm" type="text" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'search.general.placeholder' | t }}">
    <button class="btn btn-sm btn-link" type="submit">{{ 'search.general.title' | t }}</button>
  </form>
</div>

{% schema %}
{
  "name": "Header",
  "tag": "header",
  "class": "header",
  "settings": [
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "link_list",
      "id": "primary_nav",
      "label": "Navigation"
    },
    {
      "type": "header",
      "content": "Projects"
    },
    {
      "type": "article",
      "id": "featured_article",
      "label": "Featured Article"
    },
    {
      "type": "url",
      "id": "articles_url",
      "label": "Projects Link"
    }
  ]
}
{% endschema %}