{%- assign s = section.settings -%}
<section class="page--sizeguide mb-5 mb-md-7 mb-lg-9 mb-xl-10">
  <div class="container">
    <h1 class="my-4 my-lg-6 text-center text-uppercase">{{ page.title }}</h1>
    <div class="row row-gut-4 row-gut-xxl-5 justify-content-around">
      {%- for block in section.blocks -%}
      {%- assign b = block.settings -%}
      <div class="col-md-6 col-xl-5 col-xxl-4">
        <div id="sizeguide_{{ b.collection | handleize }}">
          {% if b.svg-image != blank %}
          <div class="mx-auto mb-4 mb-md-5 mb-lg-6 text-center">
          {{ b.svg-image }}
          </div>
          {% else %}
          <div class="tb__image mx-auto mb-3">
            <figure class="tb__image__placeholder" style="padding-top: calc({{ b.image.height }} / {{ b.image.width }} * 100%)">
              <picture>
                <img
                  class="lazyload"
                  src="{{ 'pixel.gif' | asset_img_url: '1x1' }}"
                  data-src="{{ b.image | img_url: '600x' }}"
                  alt=""
                />
              </picture>
            </figure>
          </div>
          {% endif %}
          <h2 class="h3 mb-lg-5 mb-xxl-6">{{ b.title }}</h2>
          <table class="table table-borderless table-striped">
            {% assign rows = b.table | newline_to_br | split: '<br />' %}
            {% assign thead = rows[0] | split: '|' %}
            {% for tbody in rows offset:1 %}
            {% assign localization_link_array = localization_link_row | split: '|' %}
            {% assign localization_link_title = localization_link_array[0] %}
            {% assign localization_link_url   = localization_link_array[1] %}
            {% endfor %}
            <thead>
              <tr>
                {% for th in thead %}
                <th class="pt-0 font-weight-500">{{ th | replace: '~', '' }}</th>
                {% endfor %}
              </tr>
            </thead>
            <tbody>
              {% for tbody in rows offset:1 %}
              {% assign row = tbody | split: '|' %}
              <tr>
                {% for td in row %}
                <td{% if forloop.first == true %} class="font-weight-500"{% endif %}>{{ td | replace: '~', '' }}</td>
                {% endfor %}
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Sizeguide",
  "settings": [],
  "blocks":[
    {
      "type":"product-type",
      "name":"Product type",
      "settings":[
        {
          "type":"text",
          "id":"title",
          "label":"Title"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type":"textarea",
          "id":"svg-image",
          "label":"SVG image",
		  "info": "Replaces a raster image if provided."
        },
        {
          "type":"textarea",
          "id":"table",
          "label":"Size table",
		  "info": "Separate values with a | (pipe). Separate rows with a new line. Mark empty cells with ~ (tilde)."
        },
        {
           "type": "collection",
           "id": "collection",
           "label": "Eligible for",
           "info": "This sizeguide will show for selected collections"
        }
	  ]
	}
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
