<div class="section_container container-fluid">
  
</div>
{% schema %}
{
  "name": "Page main",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}