
<div id="product-accordion">
  <h6 data-toggle="collapse" data-target="#product-description">
    {{ 'product.tabs.description' | t }}
    <span class="tb__icon">
      <svg width="14" height="14"><use xlink:href="#icon--plus"></use></svg>
      <svg class="tb__icon__hover" width="14" height="14"><use xlink:href="#icon--minus"></use></svg>
    </span>
  </h6>
  <div id="product-description" class="collapse show" data-parent="#product-accordion">
    <div class="collapse-wrap">
      {{ product.description }}
    </div>
  </div>
  <h6 class="collapsed" data-toggle="collapse" data-target="#product-specifications">
    {{ 'product.tabs.material' | t }}
    <span class="tb__icon">
      <svg width="14" height="14"><use xlink:href="#icon--plus"></use></svg>
      <svg class="tb__icon__hover" width="14" height="14"><use xlink:href="#icon--minus"></use></svg>
    </span>
  </h6>
  <div id="product-specifications" class="collapse" data-parent="#product-accordion">
    <div class="collapse-wrap">
      <table class="table table-borderless table-sm mt-2 font-14">
        <tr class="bg-cream">
          <th class="font-weight-500" colspan="2">{{ 'product.material.title' | t }}</th>
        </tr>
        <tr>
          <td colspan="2">
            {{ product.metafields.traede.material }}
          </td>
        </tr>
        {% if product.metafields.traede.material_1 %}
        <tr>
          <td colspan="2">
            {{ product.metafields.traede.material_1 }}
          </td>
        </tr>
        {% endif %}
        {% if product.metafields.traede.material_2 %}
        <tr>
          <td colspan="2">
            {{ product.metafields.traede.material_2 }}
          </td>
        </tr>
        {% endif %}
        {% if product.metafields.traede.material_3 %}
        <tr>
          <td colspan="2">
            {{ product.metafields.traede.material_3 }}
          </td>
        </tr>
        {% endif %}
        <tr class="bg-cream">
          <th class="font-weight-500" colspan="2">{{ 'product.washing.title' | t }}</th>
        </tr>
        {% if product.metafields.traede.machine_wash %}
        <tr>
          <td>{{ 'product.washing.machine' | t }}</td>
          <td>{{ product.metafields.traede.machine_wash }} </td>
        </tr>
        {% endif %}
        {% if product.metafields.traede.tumbling %}
        <tr>
          <td>{{ 'product.washing.tumbling' | t }}</td>
          <td>{{ product.metafields.traede.tumbling }} </td>
        </tr>
        {% endif %}
        {% if product.metafields.traede.dry_clean %}
        <tr>
          <td>{{ 'product.washing.dry_clean' | t }}</td>
          <td>{{ product.metafields.traede.dry_clean }} </td>
        </tr>
        {% endif %}
        {% if product.metafields.traede.ironing %}
        <tr>
          <td>{{ 'product.washing.ironing' | t }}</td>
          <td>{{ product.metafields.traede.ironing }} </td>
        </tr>
        {% endif %}
      </table>
    </div>
  </div>
  {% for block in section.blocks %}
  {% assign b = block.settings %}
  <h6 class="collapsed" data-toggle="collapse" data-target="#product-{{ b.title | handleize }}">
    {{ b.title }}
    <span class="tb__icon">
      <svg width="14" height="14"><use xlink:href="#icon--plus"></use></svg>
      <svg class="tb__icon__hover" width="14" height="14"><use xlink:href="#icon--minus"></use></svg>
    </span>
  </h6>
  <div id="product-{{ b.title | handleize }}" class="collapse" data-parent="#product-accordion">
    <div class="collapse-wrap">
      {{ b.text }}
    </div>
  </div>
  {% endfor %}
</div>

{% schema %}
{
  "name": "Product description",
  "class": "product-information",
  "settings": [],
  "blocks": [
    {
      "name": "Description",
      "type": "description",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        }
	  ]
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
