{%- assign s = section.settings -%}
{% if product.available == true %}
{% assign sold_out = false %}
{% else %}
{% assign sold_out = true %}
{% endif %}
<div class="product-gallery overflow-hidden mx-n3 mx-md-0">
  {%if sold_out %}
  <div class="product-sold-alert">{{product.metafields.arena.stock_note}}</div>
  {% endif %}
  <div
    class="tb__gallery tb__gallery--vertical carousel"
    data-toggle="gallery"
    data-thumbs-direction="vertical"
    data-thumbs-number="6"
    data-lazy-loading="true"
  >
    {% for media in product.media offset:s.offset %}
    {% case media.media_type %}
    {% when 'image' %}
    <img class="tb__gallery__slide" src="{{ media.src | img_url: '600x760', crop: 'center' }}" width="600" height="760" />
    {% break %}
    {% endcase %}
    {% endfor %}
    <div class="tb__gallery__thumbs tb__gallery__thumbs--left" style="width: 16.666666%;">
      {% for media in product.media offset:s.offset %}
      {% case media.media_type %}
      {% when 'image' %}
      <img class="tb__gallery__thumb" src="{{ media.src | img_url: '150x' }}" data-slide="{{ media.src | img_url: '600x760', crop: 'center' }}"{%if media.alt %} data-caption="{{ media.alt }}"{% endif %} width="150" height="190" />
      {% when 'video' %}
      <div class="tb__gallery__thumb" data-video{%if media.alt %} data-caption="{{ media.alt }}"{% endif %}>
        {{ media | video_tag: image_size: '600x', playsinline: true, loop: true, autoplay: false, muted: true, controls: false }}
        <span class="tb__icon tb__icon--video-play">
          <svg width="16" height="16"><use xlink:href="#video-play"></use></svg>
        </span>
        <img src="{{ media.preview_image.src | img_url: '150x' }}" width="150" height="190" />
      </div>
      {% endcase %}
      {% endfor %}
    </div>
  </div>
  {% for media in product.media offset:s.offset %}
  {% case media.media_type %}
  {% when 'video' %}
  <a class="position-absolute bottom-0 right-0 z-2 d-block d-md-none mb-5 mr-2 p-2 js__btn-video" href="javascript:;" data-video-index="{{ forloop.index }}">
    <span class="tb__icon tb__icon--stroke-black tb__icon--fill tb__icon--solid">
      <svg width="40" height="40"><use xlink:href="#video-play"></use></svg>
    </span>
  </a>
  {% break %}
  {% endcase %}
  {% endfor %}
</div>


{% schema %}
{
  "name": "Product gallery",
  "settings": [
  	{
      "type": "text",
      "id": "offset",
      "label": "Media loop offset",
      "info": "Ommit media records from the selected position (if set to 0, no media will be ommmitted)",
	  "default": "0"
	}
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
