{% assign same_type = false %}
{% assign exclusions = 'frontpage,all' | split: ',' %}
{% if product.metafields.c_f['Related Products'] %}
{% assign collection = collections[product.metafields.c_f['Related Products']] %}
{% endif %}
{% assign found_a_collection = false %}
{% if collection and collection.all_products_count > 1 %}
{% unless exclusions contains collection.handle %}
{% assign found_a_collection = true %}
{% endunless %}
{% endif %}
{% unless found_a_collection %}
{% for c in product.collections %}
{% unless exclusions contains c.handle or c.all_products_count < 2 %}
{% assign found_a_collection = true %}
{% assign collection = c %}
{% break %}
{% endunless %}
{% endfor %}
{% endunless %}

{% if found_a_collection %}
{% assign counter = 0 %}
{% assign current_product = product %}

{% capture related_items %}
{% for product in collection.products %}
{% unless product.handle == current_product.handle %}
{% unless same_type and current_product.type != product.type %}
<div class="col-6 col-md-3 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  {%- render 'product-item', product: product, show_product_info: true, show_vendor: section.settings.show_vendor, show_color_swatch: section.settings.show_color_swatch, show_labels: true -%}
  {% assign counter = counter | plus: 1 %}
  {% if counter == 4 %}
  {% break %}
  {% endif %}
</div>
{% endunless %}
{% endunless %}
{% endfor %}
{% endcapture %}

{% assign related_items = related_items | trim %}

{% unless related_items == blank %}
<section class="mt-4 mt-md-6 mt-lg-8 mt-xxl-9 mb-5 mb-md-6 lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  <div class="container-fluid">
    <h3 class="mb-3 mb-md-4 mb-xl-5">{{ 'product.general.related_products_title' | t }}</h3>
    <div class="row row-gutx-2 row-gutx-lg-3">
      {{ related_items }}
    </div>
  </div>
</section>
{% endunless %}    
{% endif %}
