{% assign s = section.settings %}
<div class="container lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  <div class="row justify-content-center">
    {%- assign iconsArray = "1,2,3,4" | split: ',' -%}
    {%- for i in iconsArray -%}
    {%- assign iconKey = 'icon-' | append:i %}
        {%- assign iconTextKey = 'icon-' | append:i | append:'-text' %}
        {%- assign icon = s[iconKey] -%}
    {%- assign text = s[iconTextKey] -%}
    <div class="col-lg-2 justify-content-center text-center">
      <div class="d-flex align-items-center justify-content-center mb-3" style="height: 75px;">
        {{ icon }}
      </div>
      <h5 class="text-uppercase">{{ text }}</h5>
    </div>
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Product icons",
  "tag": "section",
  "class": "mb-4 mb-lg-8",
  "settings": [
    {
      "type":"text",
      "id":"title",
      "label":"Title"
    },
    {
      "type":"html",
      "id":"icon-1",
      "label":"Icon 1 code (html)"
    },
    {
      "type":"html",
      "id":"icon-2",
      "label":"Icon 2 code (html)"
    },
    {
      "type":"html",
      "id":"icon-3",
      "label":"Icon 3 code (html)"
    },
    {
      "type":"html",
      "id":"icon-4",
      "label":"Icon 4 code (html)"
    },
    {
      "type":"text",
      "id":"icon-1-text",
      "label":"Icon 1 text"
    },
    {
      "type":"text",
      "id":"icon-2-text",
      "label":"Icon 2 text"
    },
    {
      "type":"text",
      "id":"icon-3-text",
      "label":"Icon 3 text"
    },
    {
      "type":"text",
      "id":"icon-4-text",
      "label":"Icon 4 text"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
