{%- assign blocks = section.blocks | sort: 'collection.all_products_count' -%}
<div class="container-fluid">
  <div class="row row-gutx-separate row-guty-4 row-guty-md-5">
    {% for block in section.blocks %}
    <div class="col-sm-6">
      {%- assign collection = collections[block.settings.collection] -%}
      {% include 'collection-item', collection: collection %}
    </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Collections",
  "tag": "section",
  "class": "py-4 pb-md-6 border-bottom",
  "blocks": [
    {
      "type": "collection",
      "name": "Collection",
      "settings": [
        {
          "id": "collection",
          "type": "collection",
          "label": "Collection"
        }
      ]
    }
  ]
}
{% endschema %}
