{%- assign s = section.settings -%}
<section class="row row-testimonials testimonials" data-component="testimonials">
    <div class="testimonials__wrapper container">
        <div class="testimonials__inner">
            <div class="testimonials__slider js-testimonial-slider">
                {% for block in section.blocks %}
                    {%- assign b = block.settings -%}
                    <article class="testimonials__item">
                        <h4 class="testimonials__item__title">"{{ b.text }}"</h4>
                        <p class="testimonials__item__name">– {{ b.name }}</p>
                    </article>
                {% endfor %}
            </div>
            {% if s.text != blank %}
                <a href="{{ s.url }}" target="_blank" class="btn">{{ s.text }}</a>
            {% endif %}
        </div>
        <div class="testimonials__image">
            {%
                include 'image',
                img: s.img,
                sizing: '800'
            %}
        </div>
    </div>
</section>

{% schema %}
    {
        "name": "Testimonials",
        "settings": [
            {
                "type": "image_picker",
                "id": "img",
                "label": "Choose an image"
            },
            {
                "type": "header",
                "content": "Button"
            },
            {
                "type": "text",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "url",
                "id": "url",
                "label": "Link"
            }
        ],
        "blocks": [
            {
                "name": "Testimonail",
                "type": "testimonial",
                "settings": [
                    {
                        "type": "textarea",
                        "id": "text",
                        "label": "Text"
                    },
                    {
                        "type": "text",
                        "id": "name",
                        "label": "Name"
                    }
                ]
            }
        ]
    }
{% endschema %}