{%- assign s = section.settings -%}
<div class="container lazyload appear-opacity appear-slide-in-bottom" data-expand="-50">
  <div class="row">
    <div class="col-lg-6 col-xl-5 mx-auto">
      <div class="text-center">
        {%- if s.title != blank -%}
        <h2 class="h1 text-uppercase">{{ s.title }}</h2>
        {%- endif -%}
        {%- if s.description != blank -%}
        <div class="mb-4 mb-lg-5">
          {{ s.description }}
        </div>
        {%- endif -%}
        {%- if s.cta_text != blank -%}
        <a class="btn btn-outline-dark" href="{{ s.cta_url }}">{{ s.cta_text }}</a>
        {%- endif -%}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
   "name": "Text block",
   "class":"mb-5 mb-md-7 mb-lg-9 mb-xl-10",
   "tag":"section",
   "settings":[
      {
         "type":"text",
         "id":"title",
         "label":"Title"
      },
      {
         "type":"richtext",
         "id":"description",
         "label":"Description"
      },
      {
         "type":"text",
         "id":"cta_text",
         "label":"CTA text"
      },
      {
         "type":"url",
         "id":"cta_url",
         "label":"CTA url"
      }
   ],
   "presets":[
      {
         "name":"Text block",
         "category":"Text"
      }
   ]
}
{% endschema %}