<section class="mb-4 mb-md-5">
  <div class="container">
    <div class="d-flex flex-column justify-content-center align-items-center hmin-500p">
      <h1 class="display-1 mb-0">{{ '404.general.title' | t }}</h1>
      <p class="mb-5">{{ '404.general.content' | t }}</p>
      <a href="{{ routes.root_url }}" class="btn btn-outline-secondary">{{ '404.general.button' | t }}</a>
    </div>
  </div>
</section>