<section class="page--cart mb-5 mb-md-7 mb-lg-9 mb-xl-10">
  <div class="container">
    <h1 class="mb-4 mb-lg-6 text-center text-uppercase">{{ 'cart.general.title' | t }}</h1>
    {% if cart.item_count == 0 %}
    <div class="d-flex flex-wrap align-items-center justify-content-center m-auto py-4 text-center">
      <h5 class="mb-3">{{ 'cart.empty.text' | t }} {{ 'cart.empty.menu_title' | t }}</h5>
      {%- if settings.cart_empty_nav != blank -%}
      <div class="w-100"></div>
      <nav>
        {%- assign cart_empty_nav = linklists[settings.cart_empty_nav] -%}
        {% for link in cart_empty_nav.links %}
        <a class="btn btn-outline-secondary w-200p mb-lg-3" href="{{ link.url }}">{{ link.title }}</a>
        {% endfor %}
      </nav>
      {%- endif -%}
    </div>
    {% else %}
    {% render 'cart-template', for_drawer: false %}
    {% endif %}
  </div>
</section>
