{%- layout none -%}

<section class="page--information mb-5 mb-md-7 mb-lg-9 mb-xl-10">
  <div class="container">
    <h1 class="mb-4 mb-lg-6 text-center text-uppercase">{{ page.title }}</h1>
    {{ page.content }}
  </div>
</section>
