{%- comment -%}
==========================
  FORCE TEST LAYOUT
==========================
{% layout 'theme.product' %}
{%- endcomment -%}



{%- comment -%}
==========================
  VARIABLES
==========================
{%- endcomment -%}

{%- if product.metafields.traede.shopify_link_variant -%}
{% capture color_group_products -%}
{%- paginate collections["all"].products by 1000 -%}
{%- for prod in collections["all"].products -%}
{%- if prod.metafields.traede.shopify_link_variant == product.metafields.traede.shopify_link_variant -%}
,{{- prod.handle -}}
{%- endif -%}
{%- endfor -%}
{%- endpaginate -%}
{%- endcapture %}
{% assign color_group_products = color_group_products | remove_first: "," | split: "," -%}
{%- endif -%}

{%- assign p = product -%}
{%- assign current_variant = p.selected_or_first_available_variant -%}
{% if product.available == true %}
{% assign sold_out = false %}
{% else %}
{% assign sold_out = true %}
{% endif %}

{% for tag in p.tags %}
  {% if tag contains 'linked_' %}
    {%- assign linkedProducts = tag | remove: 'linked_' | handleize -%}
    {% break %}
  {% else %}
    {% continue %}
  {% endif %}
{% endfor %}

{% for tag in p.tags %}
  {% if tag contains 'linked_' %}
    {% assign t = tag | remove: 'linked_' | handleize %}
    {% break %}
  {% else %}
    {% continue %}
  {% endif %}
{% endfor %}

{% assign sizeguidePage = pages[settings.product-sizeguide-page] %}
{% assign sizeguideUrl = sizeguidePage.url %}
{% capture productCollections %}{% for collection in product.collections %}{% if forloop.first != true %},{% endif %}{{ collection.handle }}{% endfor %}{% endcapture %}


{%- comment -%}
==========================
  TEMPLATE
==========================
{%- endcomment -%}

<main id="product" class="product--single py-lg-4">
  <div class="px-lg-4" data-component="productSelection">
    <div class="row no-gutters mb-lg-4">
      <div class="col-lg-8 col-xl-9">
        {% for media in p.media %}
        {% case media.media_type %}
        {% when 'image' %}
        <div class="product-preview position-relative">
          <div class="carousel">
            <div
              class="swiper-container show"
              data-toggle="carousel"
              data-centered-slides="false"
              data-space-between="0"
              data-slides-per-view="1"
              data-navigation="false"
              data-breakpoints="{}"
              data-disable-above="1024"
            >
              {% for media in p.media %}
              {% case media.media_type %}
              {% when 'image' %}
              <a class="tb__image tb__image--contain w-100{% unless forloop.first %} d-none{% endunless %}" href="#gallery_image_{{ forloop.index }}" data-toggle="modal" data-target="#modal_gallery">
                <div class="tb__image__placeholder bg-cream" style="padding-top: 100%;">
                  <img class="lazyload" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ media.src | img_url: '1500x1500', crop: 'center' }}" width="1500" height="1500" />
                </div>
              </a>
              {% endcase %}
              {% endfor %}
            </div>
          </div>
          {% if p.metafields.traede.material == '100% Organic Cotton' %}
          <svg class="position-absolute z-1 right-0 bottom-0 m-4 m-lg-5 inactive" width="77.491" height="77.491" viewBox="0 0 77.491 77.491">
            <g id="organic_cotton_with_text" data-name="organic cotton_with text" opacity="0.25">
              <path id="Path_49" data-name="Path 49" d="M22.87,48.719a2.338,2.338,0,0,0-3.138,1.576v.077A2.351,2.351,0,0,0,20.817,53.7a2.325,2.325,0,0,0,3.151-1.563v-.077a2.376,2.376,0,0,0-1.1-3.345Z" transform="translate(5.659 14.153)" fill="#171717"/>
              <path id="Path_50" data-name="Path 50" d="M9.187,37.217a2.389,2.389,0,0,0,2.144-2.8,2.338,2.338,0,0,0-3.061-1.7H8.18A2.338,2.338,0,0,0,6.01,35.5,2.312,2.312,0,0,0,9.058,37.23Z" transform="translate(1.739 9.497)" fill="#171717"/>
              <path id="Path_51" data-name="Path 51" d="M19.333,11.3l-.207-.3c-.891-1.292-1.924-1.731-2.841-1.111s-.917,1.718,0,3.074l.207.31c.943,1.369,1.963,1.7,2.867,1.085S20.276,12.7,19.333,11.3Z" transform="translate(4.547 2.803)" fill="#171717"/>
              <path id="Path_52" data-name="Path 52" d="M23.157,9.575c.426,1.614,1.292,2.273,2.325,2s1.408-1.292.994-2.893l-.09-.336c-.4-1.524-1.214-2.3-2.286-2.015s-1.447,1.292-1.033,2.88Z" transform="translate(6.677 1.829)" fill="#171717"/>
              <path id="Path_53" data-name="Path 53" d="M33.19,9.609c0,.62.207.982.685,1.033s.827-.258.891-.865-.194-.994-.685-1.046S33.255,8.99,33.19,9.609Z" transform="translate(9.676 2.544)" fill="#171717"/>
              <path id="Path_54" data-name="Path 54" d="M42.728,15.133a2.351,2.351,0,0,0,3.448-.7h0a2.325,2.325,0,1,0-3.616-2.841v.065a2.4,2.4,0,0,0,.168,3.474Z" transform="translate(12.214 3.038)" fill="#171717"/>
              <path id="Path_55" data-name="Path 55" d="M51.141,19.288h0c.723-.439.684-1.033.232-1.8l-.581-.943-2,1.292.568.943C49.875,19.495,50.469,19.714,51.141,19.288Z" transform="translate(14.223 4.825)" fill="#171717"/>
              <path id="Path_56" data-name="Path 56" d="M31.1,7.253c.478,0,.814-.271.878-.878s-.194-.982-.685-1.033-.827.258-.891.865S30.609,7.2,31.1,7.253Z" transform="translate(8.86 1.555)" fill="#171717"/>
              <path id="Path_57" data-name="Path 57" d="M51.34,34.477l3.552-.568L51.663,32.32Z" transform="translate(14.967 9.422)" fill="#171717"/>
              <path id="Path_58" data-name="Path 58" d="M38.746,0A38.746,38.746,0,1,0,77.491,38.746,38.746,38.746,0,0,0,38.746,0ZM70.827,32.469a2.854,2.854,0,0,1-1.821,3.616l-.271-1.356a1.6,1.6,0,0,0,1.033-2.015c-.284-1.421-1.5-2.041-3.1-1.718h-.077c-1.55.31-2.467,1.292-2.17,2.764a1.8,1.8,0,0,0,2.221,1.589l-.375-1.769,1.02-.207.633,3.151-.672.142a3.087,3.087,0,0,1-3.875-2.661,3.487,3.487,0,0,1,2.958-4.352h.09a3.578,3.578,0,0,1,4.4,2.816ZM66.539,21.736c.852,1.395.878,2.712-.413,3.5h0a1.95,1.95,0,0,1-2.583-.362L61.9,28.31l-.775-1.292L62.665,23.8l-.452-.749L59.63,24.616l-.71-1.175,6.3-3.875ZM53.624,13.755V13.69a3.629,3.629,0,0,1,5.269-.633,3.565,3.565,0,0,1,.62,5.231v.065a3.736,3.736,0,1,1-5.889-4.6Zm-8.175-1.292a1.8,1.8,0,1,1-1.607-1.956A1.782,1.782,0,0,1,45.449,12.463Zm-.4-5.747-5.515,6.832-.878-.09,5.528-6.845ZM38.255,7.723a1.979,1.979,0,1,0,0-.052Zm-7.749-.542c1.808-.478,3.332.542,3.875,2.686l.1.362c.555,2.144-.207,3.875-2.079,4.288s-3.345-.555-3.875-2.7l-.116-.413c-.568-2.17.284-3.81,2.079-4.275ZM13.251,18.469l.762-.956,5.76,4.624-.865,1.085-4.7-3.771-.155,1.886-.943-.762ZM6.458,34.354l5.786-2.066-5.256-.943.22-1.227,7.271,1.292-.271,1.343L8.072,35.039l5.579.994-.22,1.292L6.161,36.033ZM6.7,45.2a3.59,3.59,0,0,1,2.932-4.391h.077a3.732,3.732,0,1,1,1.511,7.31h-.09A3.629,3.629,0,0,1,6.7,45.2Zm5.411,12.489-2.8-4.74.93-.555,1.046,1.847,5.424-3.216.71,1.188L12,55.432,13.044,57.2Zm7.568,6.251-.736.814-4.068-3.694.723-.8,1.524,1.369,4.236-4.675,1.02.93-4.223,4.688Zm.245-47.089-.207-.31c-1.292-1.847-1.033-3.681.5-4.74s3.319-.633,4.572,1.2l.22.31c1.292,1.834,1.111,3.655-.491,4.753s-3.332.633-4.6-1.2ZM31,66.772v.077a3.629,3.629,0,0,1-4.908,2.015,3.565,3.565,0,0,1-1.976-4.882v-.09A3.732,3.732,0,1,1,31,66.772Zm10.474.956A3.539,3.539,0,0,1,37.8,71.408a2.854,2.854,0,0,1-3.113-2.583h1.395a1.589,1.589,0,0,0,1.731,1.537c1.292,0,2.17-.969,2.209-2.583V67.7c0-1.666-.736-2.661-2.092-2.7a1.718,1.718,0,0,0-1.924,1.524H34.716a2.932,2.932,0,0,1,3.293-2.583,3.384,3.384,0,0,1,3.513,3.875Zm-.53-17.81h.129l.555-.181a6.161,6.161,0,0,0,.982-.465,4.918,4.918,0,0,0,.517-.3.207.207,0,0,0,.1,0c.181-.116.375-.232.555-.375a8.627,8.627,0,0,0,3.074-4.314,8.563,8.563,0,0,0-5.011,1.756c-.181.129-.349.284-.517.413a8.834,8.834,0,0,0-1.382,1.576,1.116,1.116,0,0,1,.09-.271,5.838,5.838,0,0,0,.22-1.072,4.676,4.676,0,0,0,.077-.594.323.323,0,0,0,0-.116V45.32a8.8,8.8,0,0,0-1.589-5.166,8.627,8.627,0,0,0-1.6,5.05c0,.22,0,.452,0,.659a9.04,9.04,0,0,0,.413,2.054,8.834,8.834,0,0,0-1.395-1.563c-.168-.129-.336-.284-.517-.413a8.563,8.563,0,0,0-5.011-1.756A8.627,8.627,0,0,0,33.709,48.5c.181.142.375.258.555.375s0,0,.1,0,.336.207.517.3a6.742,6.742,0,0,0,.982.465l.555.181h.129A8.782,8.782,0,1,1,29.989,34.1a8.782,8.782,0,0,1,17.526,0,8.782,8.782,0,1,1-6.6,15.821Zm13.522,17.5a2.854,2.854,0,0,1-4.03-.71l1.214-.685a1.589,1.589,0,0,0,2.273.439c1.124-.633,1.382-1.937.568-3.371v-.077c-.814-1.447-1.976-1.924-3.177-1.292a1.718,1.718,0,0,0-.943,2.325l-1.175.646a2.919,2.919,0,0,1,1.511-3.875,3.371,3.371,0,0,1,4.972,1.511v.077a3.565,3.565,0,0,1-1.214,5.011Zm6.974-5.282L56.13,56.969l.969-.982,5.3,5.166Zm6.458-8.86-6.186.155,4.675,2.583-.594,1.1-6.458-3.565.685-1.292,6.574-.181-4.959-2.738.607-1.085L68.7,51.816ZM63.1,45.784l.22-1.408,1.9-.31.465-2.738-1.731-.839L64.15,39.2l6.884,3.487-.258,1.782Z" fill="#171717"/>
            </g>
          </svg>
          {% endif %}
        </div>
        {% break %}
        {% endcase %}
        {% endfor %}
      </div>
      <div class="col-lg-4 col-xl-3 d-lg-block flex-column pl-lg-4 pt-xxl-4">
        <h1 class="product-title h2 d-none d-lg-block mb-0">{{ p.title }}</h1>
        <div class="product-price h3 d-none d-lg-flex mt-lg-1 mb-lg-5">
          {% include '_product-prices' with data: true, product: current_variant %}
        </div>
        {% if p.metafields.traede.shopify_link_variant and color_group_products.size > 1 %}
        <div class="product-colors mt-lg-n5 p-3 p-lg-0 pt-lg-4 pb-lg-5">
          <div class="d-flex m-n1">
            {% for handle in color_group_products %}
            <a{% if p.id == all_products[handle].id %} class="border-secondary"{% endif %} href="{{ all_products[handle].url }}">
              <div class="tb__image tb__image--contain">
                <div class="tb__image__placeholder bg-cream" style="padding-top: 100%;">
                  <img class="lazyload" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ all_products[handle]media[0].src | img_url: '200x200', crop: 'center' }}" width="200" height="200" />
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        <div class="product-sizeguide">
          <a class="js-toggle-sizeguide" href="javascript:;" data-toggle="modal" data-target="#modal_sizeguide" data-url="{{ sizeguideUrl }}" data-collections="{{ productCollections }}">{{ 'product.general.sizeguide' | t }}</a>
        </div>
        {% form "product", p, data-productid: p.id, data-component: 'productForm' %}
          <div class="product-title d-lg-none">{{ p.title }}</div>
          <div class="product-price d-lg-none mb-3">
            {% include '_product-prices' with data: true, product: current_variant %}
          </div>
          <div class="product-options">
            {% unless p.has_only_default_variant %}
            {% assign has_some_out_of_stock = false %}
            {% for option in p.options_with_values %}
            {% assign optionIndex = forloop.index %}
            <div class="product-options-group product-options-group--{{ option.name | handleize }}" data-option-group>
              <ul class="nav" data-toggle="menu">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="javascript:;">{{ 'product.form.choose_option' | t: option: option.name }}</a>
                  <div class="dropdown-menu">
                    <div class="dropdown-menu-wrap">
                        {% for value in option.values %}
                        {% if value contains '%' %}
                        {% continue %}
                        {% else %}
                        {% for variant in p.variants %}
                        {% assign optionKey = 'option' | append: optionIndex %}
                        {% assign matchName = variant[optionKey] %}
                        {% if value == matchName %}
                        {% assign currentVariant = variant %}
                        {% endif %}
                        {% endfor %}
                        {% if currentVariant.inventory_quantity < 1 %}
                        {% assign has_some_out_of_stock = true %}
                        {% endif %}
                        <label
                          class="{% if currentVariant.inventory_quantity < 1 %} out-of-stock{% endif %}"
                          for="{{ value }}"
                          data-label="{{ value }}"
                        >
                          <input
                            class="d-none"
                            id="{{ value }}"
                            type="radio"
                            name="{{ option.name }}"
                            value="{{ value }}"
                            {% if false %}
                            disabled
                            {% endif %}
                          />
                          <span>
                            <span{% if currentVariant.inventory_quantity < 1 %} class="o-20"{% endif %}>{{ value }}</span>
                            {% if currentVariant.inventory_quantity < 1 %}
                            {% if settings.enable-klaviyo-notification %}
                            <small class="ml-auto smaller font-weight-600">{{ 'product.labels.notify_me' | t }}</small>
                            {% else %}
                            <small class="ml-auto smaller font-weight-600">{{ 'product.labels.out_of_stock' | t }}</small>
                            {% endif %}
                            {% endif %}
                          </span>
                        </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                  </div>
                </li>
              </ul>
            </div>
            {% endfor %}
            {% endunless %}
            <div class="d-none inactive">
              <select
                class="custom-select"
                name="id"
                value="{{ currentVariant.id }}"
                required="true"
                data-productid="{{ p.id }}"
                data-option-system
              >
                {% for variant in p.variants %}
                <option
				  value="{{ variant.id }}"
                  data-available="{{ variant.available }}"
                  data-price="{{ variant.price }}"
                  {% if variant.compare_at_price %}
                  data-compare-at-price="{{ variant.compare_at_price }}"
                  {% endif %}
                  {% if variant.id == currentVariant.id %}
                  selected
                  {% endif %}
                  {% comment %}
                  {% unless variant.available %}
                  disabled
                  {% endunless %}
                  {% endcomment %}
                >
                  {{ variant.title }}
                </option>
                {% endfor %}
              </select>
            </div>
          </div>
          <div class="product-cart mb-lg-6 mb-xxl-7">
            <input class="d-none js-counter-quantity" type="text" name="quantity" value="1">
            <button
              id="AddToCart"
              class="btn btn-secondary btn-block js-btn-add-to-cart"
              name="add"
              type="submit"
              data-text-initial="{{ 'product.form.button_initial' | t }}"
              data-text-available="{{ 'product.form.add_to_cart' | t }}"
              data-text-out-of-stock="{{ 'product.form.sold_out' | t }}"
              {% if p.has_only_default_variant and p.available %}
              {% else %}
              disabled
              {% endif %}
            >
              {% if p.has_only_default_variant %}
              	{% if p.available %}
                {{ 'product.form.add_to_cart' | t }}
              	{% else %}
                {{ 'product.form.sold_out' | t }}
              	{% endif %}
              {%- else -%}
              {{ 'product.form.button_initial' | t }}
              {%- endif -%}
            </button>
            {% if settings.enable-klaviyo-notification %}
            <button class="klaviyo-bis-trigger btn btn-secondary btn-block d-none">{{ 'product.form.notify_me' | t }}</button>
            {% endif %}
          </div>
        {% endform %}
        {% section 'product-description' %}
      </div>
    </div>

	<div class="product-images carousel d-none d-lg-block">
      <div
        class="swiper-container show row row-gutx-separate"
        data-toggle="carousel"
        data-centered-slides="true"
        data-space-between="2"
        data-slides-per-view="2"
        data-breakpoints="{
          768: {
            slidesPerView: 3,
            spaceBetween: 2,
            centeredSlides: false
          },
          1200: {
            slidesPerView: 4,
            spaceBetween: 2,
            centeredSlides: false
          }
        }"
        data-pagination="false"
        data-disable-below="992"
      >
        {% for media in p.media offset: 1 %}
        {% case media.media_type %}
        {% when 'image' %}
        <div class="col-6 col-sm-4 col-md-3">
          <a class="tb__image tb__image--contain w-100" href="#gallery_image_{{ forloop.index | plus: 1 }}" data-toggle="modal" data-target="#modal_gallery">
            <div class="tb__image__placeholder bg-cream" style="padding-top: 100%;">
              <img src="{{ media.src | img_url: '1000x1000', crop: 'center' }}" width="1000" height="1000" />
            </div>
          </a>
        </div>
        {% endcase %}
        {% endfor %}
      </div>
    </div>

    <div id="modal_gallery" class="product-gallery modal" tabindex="-1">
      <div class="modal-dialog modal-dialog-fullscreen">
        <div class="modal-content">
          <div id="modal_gallery_header" class="modal-header">
            <div class="container-fluid">
              <span class="h6 d-none d-md-block">{{ p.title }}</span>
              <ul class="nav mr-auto mr-md-0">
                {% for media in p.media %}
                <li class="nav-item">
                  <a class="nav-link" href="#gallery_image_{{ forloop.index }}">{{ forloop.index }}</a>
                </li>
                {% endfor %}
              </ul>
              <div class="d-flex">
                <a class="btn btn-link btn-fixed ml-auto text-secondary" href="javascript:;" data-dismiss="modal">&#9587;</a>
              </div>
            </div>
          </div>
          <div class="modal-body" data-spy="scroll" data-target="#modal_gallery_header">
            {% for media in p.media %}
            {% case media.media_type %}
            {% when 'image' %}
            <div id="gallery_image_{{ forloop.index }}" class="tb__image tb__image--contain">
              <div class="tb__image__placeholder bg-cream" style="padding-top: 100%;">
                <img class="lazyload" src="{{ 'pixel.gif' | asset_img_url: '1x1' }}" data-src="{{ media.src | img_url: '2000x2000', crop: 'center' }}" width="2000" height="2000" />
              </div>
              <a class="position-absolute z-1 top-0 left-0 w-100 h-100 d-none d-md-block active" href="javascript:;" data-dismiss="modal"><span class="sr-only">Dissmiss preview</span></a>
            </div>
            {% endcase %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

  </div>
</main>

{% section 'product-recommendations' %}

<style>

</style>

<script type="text/javascript">
  window.addEventListener('DOMContentLoaded', () => {
  });


  var _learnq = _learnq || [];
  var item = {
    Name: {{ product.title|json }},
    ProductID: {{ product.id|json }},
    Categories: {{ product.collections|map:'title'|json }},
    ImageURL: "https:{{ product.featured_image.src|img_url:'grande' }}",
    URL: "{{ shop.secure_url }}{{ product.url }}",
    Brand: {{ product.vendor|json }},
    Price: {{ product.price|money|json }},
    CompareAtPrice: {{ product.compare_at_price_max|money|json }}
  };
  _learnq.push(['track', 'Viewed Product', item]);
  _learnq.push(['trackViewedItem', {
    Title: item.Name,
    ItemId: item.ProductID,
    Categories: item.Categories,
    ImageUrl: item.ImageURL,
    Url: item.URL,
    Metadata: {
      Brand: item.Brand,
      Price: item.Price,
      CompareAtPrice: item.CompareAtPrice
    }
  }]);
</script>